a{color:#0071bc;text-decoration:none}
body,.e{background:#f5f5f5;font:8pt 'Verdana','Arial','Helvetica',sans-serif;margin:0;width:100%}
table,.g{width:100%}
a:link{color:#0071bc}
a:visited{color:#669}
.a{background:scroll #fff200 none 0% 0% repeat;border:#fff200 solid 1px;font:normal normal normal medium Arial;width:95%}
.b{background:scroll #fff200 none 0% 0% repeat;border:#fff200 solid 1px;font:normal normal normal medium Arial;width:5%}
.c{background:scroll #fff200 none 0% 0% repeat;border:#fff200 solid 1px;font:normal normal normal medium Arial;text-align:center}
.d{background:#f5f5f5}
.f{background:scroll #f5f5f5 none 0% 0% repeat;color:black;font:normal normal normal medium Arial;text-align:center;text-decoration:none}